version: '3.8'
services:
  dev1:
    image: postgres:13
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    networks:
      - local
  # mysql:
  #   image: mysql:8.0
  #   restart: unless-stopped
  #   ports:
  #     - "3306:3306"
  #   environment:
  #     MYSQL_ROOT_PASSWORD: examplepassword
  #     MYSQL_DATABASE: nestjs_app

networks:
  local:


